// Variables

$purple: hsl(257, 40%, 49%);
$pink: #E880E8;
$darkPink: #FF52C1;
$white: #fff;

$font-Poppins: 'Poppins', sans-serif;
$font-Open: 'Open Sans', sans-serif;

// Styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    background-color: $purple;
    background-image: url('../images/bg-mobile.svg');
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
    color: $white;
    font-family: $font-Open;
    line-height: 1.5;
    text-align: center;
}
.container {
    width: 90%;
    margin: auto;
}
header {
    text-align: left;
}
.mockup-bg-img {
    width: 18.5rem; // 296px
    max-width: 100%;
    height: 13.0625rem; //209px
    background-image: url('../images/illustration-mockups.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.logo {
    margin-top: 2.375rem; // 38px
    margin-bottom: 4.1875rem; // 67px
    width: 7.5rem; // 120px
}
.title {
    font-family: $font-Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 4.1875rem; // 67px
}
.submit-btn {
    padding: 0.875rem 4.6875rem; // 14px 75px;
    border-radius: 3.125rem; // 50px;
    border: none;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.269);
    color: $purple;
    font-size: 0.75rem;
    margin-top: 1.875rem; // 30px
    margin-bottom: 4rem; // 64px
    transition: background-color ease-in-out 0.2s;
    cursor: pointer;
    &:hover {
        background-color: $pink;
        color: $white;
    }
}
footer a {
    color: $white;
    border: 1px solid $white;
    border-radius: 50%;
    display: inline-block;
    width: 1.75rem; // 28px
    height: 1.75rem; // 28px
    font-size: 0.875rem; // 14px
    line-height: 1.75rem; // 28px
    margin-bottom: 1.5rem; // 24px 
    transition: color ease-in-out 0.2s;
    &:not(:last-child){
        margin-right: 0.625rem; // 10px
    }
    &:hover {
        color: $darkPink;
        border-color: $darkPink;
    }
}
@media screen and (min-width: 90rem) { // 1440px
    body {
        background-image: url('../images/bg-desktop.svg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
    }
    .mockup-bg-img {
        width: 43.5rem; // 696px
        height: 30.8125rem; // 493px
    }
    .logo {
        width: 12.5rem; // 200px
        margin-top: 3.375rem; // 54px
        margin-bottom: 5.25rem; // 84px
    }
    .title {
        font-size: 2.5rem; // 40px
    }
    .main-info p,
    .submit-btn {
        font-size: 1.125rem; // 18px
    }
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main-info {
        text-align: left;
        margin-left: 3.6875rem; // 59px
    }
    footer {
        display: flex;
        justify-content: flex-end;
        & a {
            width: 2.5rem; // 40px
            height: 2.5rem; // 40px
            font-size: 1.25rem; // 20px
            line-height: 2.5rem; // 40px
        }
    }
}